@font-face {	
  font-family: 'Fanwood Text';	
  src: url('fonts/Fanwood_Text/FanwoodText-Regular.ttf') format('truetype');	
  font-weight: normal;	
  font-style: normal;	
}	

@font-face {	
  font-family: 'Quattrocento';	
  src: url('fonts/Quattrocento/Quattrocento-Regular.ttf') format('truetype');	
  font-weight: normal;	
  font-style: normal;	
}

body {
  color: #373d3f;
  background-color: #fbfbfb;
  font-family: "Quattrocento", serif;
}

h1 {
  font-family: "Fanwood Text", serif;
  font-weight: normal;
  font-size: 50px;
  line-height: 1em;
  margin-bottom: 0;
}

a {
  color: #373d3f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 20px;
  line-height: 1.8em;
}

#container {
  position: relative;
  width: 70%;
  max-width: 650px;
  margin: 50px auto;
}

#contacts {
  text-align: center;
}

#contacts a {
  margin: 0 10px;
}
